Pandas is an open source library providing high performance , easy to use data structure and data analysis tool for python
programming language

In [2]:
import pandas as pd
import numpy as np

In [3]:
# creating DataFrame  data set is given then in index - row names and in columns - column names
df = pd.DataFrame(np.arange(20).reshape(5,4), index = ['Row1','Row2','Row3','Row4','Row5'], columns =['column1','column2','column3','column4'] )

In [4]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
# to save the dataframe to csv file
df.to_csv('test.csv')

In [4]:
# accessing the elements
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [6]:
df.iloc[2]   # index location

column1     8
column2     9
column3    10
column4    11
Name: Row3, dtype: int32

In [7]:
type(df.iloc[2])    # note that the type is data series. When you have one row one column it is called series and when
                    # we have more than one row and columns then it is called as DataFrame

pandas.core.series.Series

In [8]:
df.iloc[1:,2:]

      column3  column4
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19

In [9]:
type(df.iloc[1:,2:])   # note that since it has more than 1 row and column it is a data frame

pandas.core.frame.DataFrame

In [11]:
#  converting data frame into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [5]:
df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [12]:
df.isnull()   # checking if the data frame has any null vaues

      column1  column2  column3  column4
Row1    False    False    False    False
Row2    False    False    False    False
Row3    False    False    False    False
Row4    False    False    False    False
Row5    False    False    False    False

In [13]:
df.isnull().sum()  # it is summing all the null values column wise

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [15]:
df['column1'].value_counts()   # Suppose you have a categorical values in column 1 and you want to find out how many unique
                                # categorical values are there in th column 1

12    1
4     1
16    1
8     1
0     1
Name: column1, dtype: int64

In [16]:
df['column1'].unique()   #  here it will display the unique values in the column 1

array([ 0,  4,  8, 12, 16], dtype=int64)

In [17]:
mb = pd.read_csv("E:/DS -Python/mercedesbenz.csv")

In [18]:
mb.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [19]:
mb.info()   # summary of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [20]:
mb.describe()   # only the integer and floating value will be taken into consideration and not the object values(category column)
                # the category columns will be skilled and shown like below

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
mb1 = pd.read_csv("E:/DS -Python/mercedesbenz.csv", usecols = ['ID','y','X10','X11'])  # reads only the specified columns from
                                                                                        # the csv file
mb1

        ID       y  X10  X11
0        0  130.81    0    0
1        6   88.53    0    0
2        7   76.26    0    0
3        9   80.62    0    0
4       13   78.02    0    0
5       18   92.93    0    0
6       24  128.76    0    0
7       25   91.91    0    0
8       27  108.67    0    0
9       30  126.99    0    0
10      31  102.09    0    0
11      32   98.12    0    0
12      34   82.62    0    0
13      36   94.12    0    0
14      37   99.15    0    0
15      38   93.64    0    0
16      39  106.10    0    0
17      40  114.13    0    0
18      44   89.81    0    0
19      47   90.81    0    0
20      48   90.56    0    0
21      49   94.57    0    0
22      50  108.14    0    0
23      52  120.77    0    0
24      54   84.84    0    0
25      60   93.59    0    0
26      61  104.07    0    0
27      62   89.37    0    0
28      66   90.08    0    0
29      67  128.19    0    0
...    ...     ...  ...  ...
4179  8354   85.93    0    0
4180  8356   90.45    0    0
4181  8357   90.06    0    0
4182  8362   90.38    0    0
4183  8367   95.56    0    0
4184  8368  109.00    0    0
4185  8369  109.64    0    0
4186  8371  131.98    0    0
4187  8373   98.15    0    0
4188  8374  102.33    0    0
4189  8375  102.42    0    0
4190  8378   89.11    0    0
4191  8382   88.93    0    0
4192  8383  103.03    0    0
4193  8384  107.24    0    0
4194  8385   91.13    0    0
4195  8387   86.23    0    0
4196  8390   99.93    0    0
4197  8392   89.25    0    0
4198  8393   97.09    0    0
4199  8395   88.24    1    0
4200  8397  108.59    0    0
4201  8399  107.39    0    0
4202  8402  123.34    0    0
4203  8403   85.71    0    0
4204  8405  107.39    0    0
4205  8406  108.77    0    0
4206  8412  109.22    0    0
4207  8415   87.48    0    0
4208  8417  110.85    0    0

[4209 rows x 4 columns]

In [7]:
data = ('a,b,c\n'
        '4,apple,bat \n'
        '8,orange,cow')

In [8]:
from io import StringIO, BytesIO

In [9]:
pd.read_csv(StringIO(data))

   a       b     c
0  4   apple  bat
1  8  orange   cow

In [33]:
dff = pd.read_csv(StringIO(data), dtype = {'a': 'int64', 'b':'object', 'c':'object'})

In [34]:
dff

   a       b     c
0  4   apple  bat
1  8  orange   cow

In [35]:
dff['a'][0]

4

In [36]:
# replacing the index value with the 0th index
dff = pd.read_csv(StringIO(data), index_col=0)   
dff

        b     c
a
4   apple  bat
8  orange   cow

In [10]:
dff = pd.read_csv(StringIO(data)) 
dff

   a       b     c
0  4   apple  bat
1  8  orange   cow

In [16]:
dff = pd.read_csv(StringIO(data))
dff

   a       b     c
0  4   apple  bat
1  8  orange   cow

In [21]:
data1 = 'a,b\n"hello, \\ Bob\\, nice to see you",5'

In [22]:
pd.read_csv(StringIO(data1), escapechar = '\\')

                              a  b
0  hello,  Bob, nice to see you  5

In [ ]:
# Reading JSON file

In [28]:
dataframe = pd.read_csv("E:/DS -Python/wine.csv")
dataframe.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
# to convert JSON to CSV

In [30]:
dataframe.to_json()  # It is reading column wise and also including the index numbers

'{"Wine":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":1,"6":1,"7":1,"8":1,"9":1,"10":1,"11":1,"12":1,"13":1,"14":1,"15":1,"16":1,"17":1,"18":1,"19":1,"20":1,"21":1,"22":1,"23":1,"24":1,"25":1,"26":1,"27":1,"28":1,"29":1,"30":1,"31":1,"32":1,"33":1,"34":1,"35":1,"36":1,"37":1,"38":1,"39":1,"40":1,"41":1,"42":1,"43":1,"44":1,"45":1,"46":1,"47":1,"48":1,"49":1,"50":1,"51":1,"52":1,"53":1,"54":1,"55":1,"56":1,"57":1,"58":1,"59":2,"60":2,"61":2,"62":2,"63":2,"64":2,"65":2,"66":2,"67":2,"68":2,"69":2,"70":2,"71":2,"72":2,"73":2,"74":2,"75":2,"76":2,"77":2,"78":2,"79":2,"80":2,"81":2,"82":2,"83":2,"84":2,"85":2,"86":2,"87":2,"88":2,"89":2,"90":2,"91":2,"92":2,"93":2,"94":2,"95":2,"96":2,"97":2,"98":2,"99":2,"100":2,"101":2,"102":2,"103":2,"104":2,"105":2,"106":2,"107":2,"108":2,"109":2,"110":2,"111":2,"112":2,"113":2,"114":2,"115":2,"116":2,"117":2,"118":2,"119":2,"120":2,"121":2,"122":2,"123":2,"124":2,"125":2,"126":2,"127":2,"128":2,"129":2,"130":3,"131":3,"132":3,"133":3,"134":3,"135":3,"136":3,"137":3,"138":3,"139":3,"140":3,"141":3,"142":3,"143":3,"144":3,"145":3,"146":3,"147":3,"148":3,"149":3,"150":3,"151":3,"152":3,"153":3,"154":3,"155":3,"156":3,"157":3,"158":3,"159":3,"160":3,"161":3,"162":3,"163":3,"164":3,"165":3,"166":3,"167":3,"168":3,"169":3,"170":3,"171":3,"172":3,"173":3,"174":3,"175":3,"176":3,"177":3},"Alcohol":{"0":14.23,"1":13.2,"2":13.16,"3":14.37,"4":13.24,"5":14.2,"6":14.39,"7":14.06,"8":14.83,"9":13.86,"10":14.1,"11":14.12,"12":13.75,"13":14.75,"14":14.38,"15":13.63,"16":14.3,"17":13.83,"18":14.19,"19":13.64,"20":14.06,"21":12.93,"22":13.71,"23":12.85,"24":13.5,"25":13.05,"26":13.39,"27":13.3,"28":13.87,"29":14.02,"30":13.73,"31":13.58,"32":13.68,"33":13.76,"34":13.51,"35":13.48,"36":13.28,"37":13.05,"38":13.07,"39":14.22,"40":13.56,"41":13.41,"42":13.88,"43":13.24,"44":13.05,"45":14.21,"46":14.38,"47":13.9,"48":14.1,"49":13.94,"50":13.05,"51":13.83,"52":13.82,"53":13.77,"54":13.74,"55":13.56,"56":14.22,"57":13.29,"58":13.72,"59":12.37,"60":12.33,"61":12.64,"62":13.67,"63":12.37,"64":12.17,"65":12.37,"66":13.11,"67":12.37,"68":13.34,"69":12.21,"70":12.29,"71":13.86,"72":13.49,"73":12.99,"74":11.96,"75":11.66,"76":13.03,"77":11.84,"78":12.33,"79":12.7,"80":12.0,"81":12.72,"82":12.08,"83":13.05,"84":11.84,"85":12.67,"86":12.16,"87":11.65,"88":11.64,"89":12.08,"90":12.08,"91":12.0,"92":12.69,"93":12.29,"94":11.62,"95":12.47,"96":11.81,"97":12.29,"98":12.37,"99":12.29,"100":12.08,"101":12.6,"102":12.34,"103":11.82,"104":12.51,"105":12.42,"106":12.25,"107":12.72,"108":12.22,"109":11.61,"110":11.46,"111":12.52,"112":11.76,"113":11.41,"114":12.08,"115":11.03,"116":11.82,"117":12.42,"118":12.77,"119":12.0,"120":11.45,"121":11.56,"122":12.42,"123":13.05,"124":11.87,"125":12.07,"126":12.43,"127":11.79,"128":12.37,"129":12.04,"130":12.86,"131":12.88,"132":12.81,"133":12.7,"134":12.51,"135":12.6,"136":12.25,"137":12.53,"138":13.49,"139":12.84,"140":12.93,"141":13.36,"142":13.52,"143":13.62,"144":12.25,"145":13.16,"146":13.88,"147":12.87,"148":13.32,"149":13.08,"150":13.5,"151":12.79,"152":13.11,"153":13.23,"154":12.58,"155":13.17,"156":13.84,"157":12.45,"158":14.34,"159":13.48,"160":12.36,"161":13.69,"162":12.85,"163":12.96,"164":13.78,"165":13.73,"166":13.45,"167":12.82,"168":13.58,"169":13.4,"170":12.2,"171":12.77,"172":14.16,"173":13.71,"174":13.4,"175":13.27,"176":13.17,"177":14.13},"Malic.acid":{"0":1.71,"1":1.78,"2":2.36,"3":1.95,"4":2.59,"5":1.76,"6":1.87,"7":2.15,"8":1.64,"9":1.35,"10":2.16,"11":1.48,"12":1.73,"13":1.73,"14":1.87,"15":1.81,"16":1.92,"17":1.57,"18":1.59,"19":3.1,"20":1.63,"21":3.8,"22":1.86,"23":1.6,"24":1.81,"25":2.05,"26":1.77,"27":1.72,"28":1.9,"29":1.68,"30":1.5,"31":1.66,"32":1.83,"33":1.53,"34":1.8,"35":1.81,"36":1.64,"37":1.65,"38":1.5,"39":3.99,"40":1.71,"41":3.84,"42":1.89,"43":3.98,"44":1.77,"45":4.04,"46":3.59,"47":1.68,"48":2.02,"49":1.73,"50":1.73,"51":1.65,"52":1.75,"53":1.9,"54":1.67,"55":1.73,"56":1.7,"57":1.97,"58":1.43,"59":0.94,"60":1.1,"61":1.36,"62":1.25,"63":1.13,"64":1.45,"65":1.21,"66":1.01,"67":1.17,"68":0.94,"69":1.19,"70":1.61,"71":1.51,"72":1.66,"73":1.67,"74":1.09,"75":1.88,"76":0.9,"77":2.89,"78":0.99,"79":3.87,"80":0.92,"81":1.81,"82":1.13,"83":3.86,"84":0.89,"85":0.98,"86":1.61,"87":1.67,"88":2.06,"89":1.33,"90":1.83,"91":1.51,"92":1.53,"93":2.83,"94":1.99,"95":1.52,"96":2.12,"97":1.41,"98":1.07,"99":3.17,"100":2.08,"101":1.34,"102":2.45,"103":1.72,"104":1.73,"105":2.55,"106":1.73,"107":1.75,"108":1.29,"109":1.35,"110":3.74,"111":2.43,"112":2.68,"113":0.74,"114":1.39,"115":1.51,"116":1.47,"117":1.61,"118":3.43,"119":3.43,"120":2.4,"121":2.05,"122":4.43,"123":5.8,"124":4.31,"125":2.16,"126":1.53,"127":2.13,"128":1.63,"129":4.3,"130":1.35,"131":2.99,"132":2.31,"133":3.55,"134":1.24,"135":2.46,"136":4.72,"137":5.51,"138":3.59,"139":2.96,"140":2.81,"141":2.56,"142":3.17,"143":4.95,"144":3.88,"145":3.57,"146":5.04,"147":4.61,"148":3.24,"149":3.9,"150":3.12,"151":2.67,"152":1.9,"153":3.3,"154":1.29,"155":5.19,"156":4.12,"157":3.03,"158":1.68,"159":1.67,"160":3.83,"161":3.26,"162":3.27,"163":3.45,"164":2.76,"165":4.36,"166":3.7,"167":3.37,"168":2.58,"169":4.6,"170":3.03,"171":2.39,"172":2.51,"173":5.65,"174":3.91,"175":4.28,"176":2.59,"177":4.1},"Ash":{"0":2.43,"1":2.14,"2":2.67,"3":2.5,"4":2.87,"5":2.45,"6":2.45,"7":2.61,"8":2.17,"9":2.27,"10":2.3,"11":2.32,"12":2.41,"13":2.39,"14":2.38,"15":2.7,"16":2.72,"17":2.62,"18":2.48,"19":2.56,"20":2.28,"21":2.65,"22":2.36,"23":2.52,"24":2.61,"25":3.22,"26":2.62,"27":2.14,"28":2.8,"29":2.21,"30":2.7,"31":2.36,"32":2.36,"33":2.7,"34":2.65,"35":2.41,"36":2.84,"37":2.55,"38":2.1,"39":2.51,"40":2.31,"41":2.12,"42":2.59,"43":2.29,"44":2.1,"45":2.44,"46":2.28,"47":2.12,"48":2.4,"49":2.27,"50":2.04,"51":2.6,"52":2.42,"53":2.68,"54":2.25,"55":2.46,"56":2.3,"57":2.68,"58":2.5,"59":1.36,"60":2.28,"61":2.02,"62":1.92,"63":2.16,"64":2.53,"65":2.56,"66":1.7,"67":1.92,"68":2.36,"69":1.75,"70":2.21,"71":2.67,"72":2.24,"73":2.6,"74":2.3,"75":1.92,"76":1.71,"77":2.23,"78":1.95,"79":2.4,"80":2.0,"81":2.2,"82":2.51,"83":2.32,"84":2.58,"85":2.24,"86":2.31,"87":2.62,"88":2.46,"89":2.3,"90":2.32,"91":2.42,"92":2.26,"93":2.22,"94":2.28,"95":2.2,"96":2.74,"97":1.98,"98":2.1,"99":2.21,"100":1.7,"101":1.9,"102":2.46,"103":1.88,"104":1.98,"105":2.27,"106":2.12,"107":2.28,"108":1.94,"109":2.7,"110":1.82,"111":2.17,"112":2.92,"113":2.5,"114":2.5,"115":2.2,"116":1.99,"117":2.19,"118":1.98,"119":2.0,"120":2.42,"121":3.23,"122":2.73,"123":2.13,"124":2.39,"125":2.17,"126":2.29,"127":2.78,"128":2.3,"129":2.38,"130":2.32,"131":2.4,"132":2.4,"133":2.36,"134":2.25,"135":2.2,"136":2.54,"137":2.64,"138":2.19,"139":2.61,"140":2.7,"141":2.35,"142":2.72,"143":2.35,"144":2.2,"145":2.15,"146":2.23,"147":2.48,"148":2.38,"149":2.36,"150":2.62,"151":2.48,"152":2.75,"153":2.28,"154":2.1,"155":2.32,"156":2.38,"157":2.64,"158":2.7,"159":2.64,"160":2.38,"161":2.54,"162":2.58,"163":2.35,"164":2.3,"165":2.26,"166":2.6,"167":2.3,"168":2.69,"169":2.86,"170":2.32,"171":2.28,"172":2.48,"173":2.45,"174":2.48,"175":2.26,"176":2.37,"177":2.74},"Acl":{"0":15.6,"1":11.2,"2":18.6,"3":16.8,"4":21.0,"5":15.2,"6":14.6,"7":17.6,"8":14.0,"9":16.0,"10":18.0,"11":16.8,"12":16.0,"13":11.4,"14":12.0,"15":17.2,"16":20.0,"17":20.0,"18":16.5,"19":15.2,"20":16.0,"21":18.6,"22":16.6,"23":17.8,"24":20.0,"25":25.0,"26":16.1,"27":17.0,"28":19.4,"29":16.0,"30":22.5,"31":19.1,"32":17.2,"33":19.5,"34":19.0,"35":20.5,"36":15.5,"37":18.0,"38":15.5,"39":13.2,"40":16.2,"41":18.8,"42":15.0,"43":17.5,"44":17.0,"45":18.9,"46":16.0,"47":16.0,"48":18.8,"49":17.4,"50":12.4,"51":17.2,"52":14.0,"53":17.1,"54":16.4,"55":20.5,"56":16.3,"57":16.8,"58":16.7,"59":10.6,"60":16.0,"61":16.8,"62":18.0,"63":19.0,"64":19.0,"65":18.1,"66":15.0,"67":19.6,"68":17.0,"69":16.8,"70":20.4,"71":25.0,"72":24.0,"73":30.0,"74":21.0,"75":16.0,"76":16.0,"77":18.0,"78":14.8,"79":23.0,"80":19.0,"81":18.8,"82":24.0,"83":22.5,"84":18.0,"85":18.0,"86":22.8,"87":26.0,"88":21.6,"89":23.6,"90":18.5,"91":22.0,"92":20.7,"93":18.0,"94":18.0,"95":19.0,"96":21.5,"97":16.0,"98":18.5,"99":18.0,"100":17.5,"101":18.5,"102":21.0,"103":19.5,"104":20.5,"105":22.0,"106":19.0,"107":22.5,"108":19.0,"109":20.0,"110":19.5,"111":21.0,"112":20.0,"113":21.0,"114":22.5,"115":21.5,"116":20.8,"117":22.5,"118":16.0,"119":19.0,"120":20.0,"121":28.5,"122":26.5,"123":21.5,"124":21.0,"125":21.0,"126":21.5,"127":28.5,"128":24.5,"129":22.0,"130":18.0,"131":20.0,"132":24.0,"133":21.5,"134":17.5,"135":18.5,"136":21.0,"137":25.0,"138":19.5,"139":24.0,"140":21.0,"141":20.0,"142":23.5,"143":20.0,"144":18.5,"145":21.0,"146":20.0,"147":21.5,"148":21.5,"149":21.5,"150":24.0,"151":22.0,"152":25.5,"153":18.5,"154":20.0,"155":22.0,"156":19.5,"157":27.0,"158":25.0,"159":22.5,"160":21.0,"161":20.0,"162":22.0,"163":18.5,"164":22.0,"165":22.5,"166":23.0,"167":19.5,"168":24.5,"169":25.0,"170":19.0,"171":19.5,"172":20.0,"173":20.5,"174":23.0,"175":20.0,"176":20.0,"177":24.5},"Mg":{"0":127,"1":100,"2":101,"3":113,"4":118,"5":112,"6":96,"7":121,"8":97,"9":98,"10":105,"11":95,"12":89,"13":91,"14":102,"15":112,"16":120,"17":115,"18":108,"19":116,"20":126,"21":102,"22":101,"23":95,"24":96,"25":124,"26":93,"27":94,"28":107,"29":96,"30":101,"31":106,"32":104,"33":132,"34":110,"35":100,"36":110,"37":98,"38":98,"39":128,"40":117,"41":90,"42":101,"43":103,"44":107,"45":111,"46":102,"47":101,"48":103,"49":108,"50":92,"51":94,"52":111,"53":115,"54":118,"55":116,"56":118,"57":102,"58":108,"59":88,"60":101,"61":100,"62":94,"63":87,"64":104,"65":98,"66":78,"67":78,"68":110,"69":151,"70":103,"71":86,"72":87,"73":139,"74":101,"75":97,"76":86,"77":112,"78":136,"79":101,"80":86,"81":86,"82":78,"83":85,"84":94,"85":99,"86":90,"87":88,"88":84,"89":70,"90":81,"91":86,"92":80,"93":88,"94":98,"95":162,"96":134,"97":85,"98":88,"99":88,"100":97,"101":88,"102":98,"103":86,"104":85,"105":90,"106":80,"107":84,"108":92,"109":94,"110":107,"111":88,"112":103,"113":88,"114":84,"115":85,"116":86,"117":108,"118":80,"119":87,"120":96,"121":119,"122":102,"123":86,"124":82,"125":85,"126":86,"127":92,"128":88,"129":80,"130":122,"131":104,"132":98,"133":106,"134":85,"135":94,"136":89,"137":96,"138":88,"139":101,"140":96,"141":89,"142":97,"143":92,"144":112,"145":102,"146":80,"147":86,"148":92,"149":113,"150":123,"151":112,"152":116,"153":98,"154":103,"155":93,"156":89,"157":97,"158":98,"159":89,"160":88,"161":107,"162":106,"163":106,"164":90,"165":88,"166":111,"167":88,"168":105,"169":112,"170":96,"171":86,"172":91,"173":95,"174":102,"175":120,"176":120,"177":96},"Phenols":{"0":2.8,"1":2.65,"2":2.8,"3":3.85,"4":2.8,"5":3.27,"6":2.5,"7":2.6,"8":2.8,"9":2.98,"10":2.95,"11":2.2,"12":2.6,"13":3.1,"14":3.3,"15":2.85,"16":2.8,"17":2.95,"18":3.3,"19":2.7,"20":3.0,"21":2.41,"22":2.61,"23":2.48,"24":2.53,"25":2.63,"26":2.85,"27":2.4,"28":2.95,"29":2.65,"30":3.0,"31":2.86,"32":2.42,"33":2.95,"34":2.35,"35":2.7,"36":2.6,"37":2.45,"38":2.4,"39":3.0,"40":3.15,"41":2.45,"42":3.25,"43":2.64,"44":3.0,"45":2.85,"46":3.25,"47":3.1,"48":2.75,"49":2.88,"50":2.72,"51":2.45,"52":3.88,"53":3.0,"54":2.6,"55":2.96,"56":3.2,"57":3.0,"58":3.4,"59":1.98,"60":2.05,"61":2.02,"62":2.1,"63":3.5,"64":1.89,"65":2.42,"66":2.98,"67":2.11,"68":2.53,"69":1.85,"70":1.1,"71":2.95,"72":1.88,"73":3.3,"74":3.38,"75":1.61,"76":1.95,"77":1.72,"78":1.9,"79":2.83,"80":2.42,"81":2.2,"82":2.0,"83":1.65,"84":2.2,"85":2.2,"86":1.78,"87":1.92,"88":1.95,"89":2.2,"90":1.6,"91":1.45,"92":1.38,"93":2.45,"94":3.02,"95":2.5,"96":1.6,"97":2.55,"98":3.52,"99":2.85,"100":2.23,"101":1.45,"102":2.56,"103":2.5,"104":2.2,"105":1.68,"106":1.65,"107":1.38,"108":2.36,"109":2.74,"110":3.18,"111":2.55,"112":1.75,"113":2.48,"114":2.56,"115":2.46,"116":1.98,"117":2.0,"118":1.63,"119":2.0,"120":2.9,"121":3.18,"122":2.2,"123":2.62,"124":2.86,"125":2.6,"126":2.74,"127":2.13,"128":2.22,"129":2.1,"130":1.51,"131":1.3,"132":1.15,"133":1.7,"134":2.0,"135":1.62,"136":1.38,"137":1.79,"138":1.62,"139":2.32,"140":1.54,"141":1.4,"142":1.55,"143":2.0,"144":1.38,"145":1.5,"146":0.98,"147":1.7,"148":1.93,"149":1.41,"150":1.4,"151":1.48,"152":2.2,"153":1.8,"154":1.48,"155":1.74,"156":1.8,"157":1.9,"158":2.8,"159":2.6,"160":2.3,"161":1.83,"162":1.65,"163":1.39,"164":1.35,"165":1.28,"166":1.7,"167":1.48,"168":1.55,"169":1.98,"170":1.25,"171":1.39,"172":1.68,"173":1.68,"174":1.8,"175":1.59,"176":1.65,"177":2.05},"Flavanoids":{"0":3.06,"1":2.76,"2":3.24,"3":3.49,"4":2.69,"5":3.39,"6":2.52,"7":2.51,"8":2.98,"9":3.15,"10":3.32,"11":2.43,"12":2.76,"13":3.69,"14":3.64,"15":2.91,"16":3.14,"17":3.4,"18":3.93,"19":3.03,"20":3.17,"21":2.41,"22":2.88,"23":2.37,"24":2.61,"25":2.68,"26":2.94,"27":2.19,"28":2.97,"29":2.33,"30":3.25,"31":3.19,"32":2.69,"33":2.74,"34":2.53,"35":2.98,"36":2.68,"37":2.43,"38":2.64,"39":3.04,"40":3.29,"41":2.68,"42":3.56,"43":2.63,"44":3.0,"45":2.65,"46":3.17,"47":3.39,"48":2.92,"49":3.54,"50":3.27,"51":2.99,"52":3.74,"53":2.79,"54":2.9,"55":2.78,"56":3.0,"57":3.23,"58":3.67,"59":0.57,"60":1.09,"61":1.41,"62":1.79,"63":3.1,"64":1.75,"65":2.65,"66":3.18,"67":2.0,"68":1.3,"69":1.28,"70":1.02,"71":2.86,"72":1.84,"73":2.89,"74":2.14,"75":1.57,"76":2.03,"77":1.32,"78":1.85,"79":2.55,"80":2.26,"81":2.53,"82":1.58,"83":1.59,"84":2.21,"85":1.94,"86":1.69,"87":1.61,"88":1.69,"89":1.59,"90":1.5,"91":1.25,"92":1.46,"93":2.25,"94":2.26,"95":2.27,"96":0.99,"97":2.5,"98":3.75,"99":2.99,"100":2.17,"101":1.36,"102":2.11,"103":1.64,"104":1.92,"105":1.84,"106":2.03,"107":1.76,"108":2.04,"109":2.92,"110":2.58,"111":2.27,"112":2.03,"113":2.01,"114":2.29,"115":2.17,"116":1.6,"117":2.09,"118":1.25,"119":1.64,"120":2.79,"121":5.08,"122":2.13,"123":2.65,"124":3.03,"125":2.65,"126":3.15,"127":2.24,"128":2.45,"129":1.75,"130":1.25,"131":1.22,"132":1.09,"133":1.2,"134":0.58,"135":0.66,"136":0.47,"137":0.6,"138":0.48,"139":0.6,"140":0.5,"141":0.5,"142":0.52,"143":0.8,"144":0.78,"145":0.55,"146":0.34,"147":0.65,"148":0.76,"149":1.39,"150":1.57,"151":1.36,"152":1.28,"153":0.83,"154":0.58,"155":0.63,"156":0.83,"157":0.58,"158":1.31,"159":1.1,"160":0.92,"161":0.56,"162":0.6,"163":0.7,"164":0.68,"165":0.47,"166":0.92,"167":0.66,"168":0.84,"169":0.96,"170":0.49,"171":0.51,"172":0.7,"173":0.61,"174":0.75,"175":0.69,"176":0.68,"177":0.76},"Nonflavanoid.phenols":{"0":0.28,"1":0.26,"2":0.3,"3":0.24,"4":0.39,"5":0.34,"6":0.3,"7":0.31,"8":0.29,"9":0.22,"10":0.22,"11":0.26,"12":0.29,"13":0.43,"14":0.29,"15":0.3,"16":0.33,"17":0.4,"18":0.32,"19":0.17,"20":0.24,"21":0.25,"22":0.27,"23":0.26,"24":0.28,"25":0.47,"26":0.34,"27":0.27,"28":0.37,"29":0.26,"30":0.29,"31":0.22,"32":0.42,"33":0.5,"34":0.29,"35":0.26,"36":0.34,"37":0.29,"38":0.28,"39":0.2,"40":0.34,"41":0.27,"42":0.17,"43":0.32,"44":0.28,"45":0.3,"46":0.27,"47":0.21,"48":0.32,"49":0.32,"50":0.17,"51":0.22,"52":0.32,"53":0.39,"54":0.21,"55":0.2,"56":0.26,"57":0.31,"58":0.19,"59":0.28,"60":0.63,"61":0.53,"62":0.32,"63":0.19,"64":0.45,"65":0.37,"66":0.26,"67":0.27,"68":0.55,"69":0.14,"70":0.37,"71":0.21,"72":0.27,"73":0.21,"74":0.13,"75":0.34,"76":0.24,"77":0.43,"78":0.35,"79":0.43,"80":0.3,"81":0.26,"82":0.4,"83":0.61,"84":0.22,"85":0.3,"86":0.43,"87":0.4,"88":0.48,"89":0.42,"90":0.52,"91":0.5,"92":0.58,"93":0.25,"94":0.17,"95":0.32,"96":0.14,"97":0.29,"98":0.24,"99":0.45,"100":0.26,"101":0.29,"102":0.34,"103":0.37,"104":0.32,"105":0.66,"106":0.37,"107":0.48,"108":0.39,"109":0.29,"110":0.24,"111":0.26,"112":0.6,"113":0.42,"114":0.43,"115":0.52,"116":0.3,"117":0.34,"118":0.43,"119":0.37,"120":0.32,"121":0.47,"122":0.43,"123":0.3,"124":0.21,"125":0.37,"126":0.39,"127":0.58,"128":0.4,"129":0.42,"130":0.21,"131":0.24,"132":0.27,"133":0.17,"134":0.6,"135":0.63,"136":0.53,"137":0.63,"138":0.58,"139":0.53,"140":0.53,"141":0.37,"142":0.5,"143":0.47,"144":0.29,"145":0.43,"146":0.4,"147":0.47,"148":0.45,"149":0.34,"150":0.22,"151":0.24,"152":0.26,"153":0.61,"154":0.53,"155":0.61,"156":0.48,"157":0.63,"158":0.53,"159":0.52,"160":0.5,"161":0.5,"162":0.6,"163":0.4,"164":0.41,"165":0.52,"166":0.43,"167":0.4,"168":0.39,"169":0.27,"170":0.4,"171":0.48,"172":0.44,"173":0.52,"174":0.43,"175":0.43,"176":0.53,"177":0.56},"Proanth":{"0":2.29,"1":1.28,"2":2.81,"3":2.18,"4":1.82,"5":1.97,"6":1.98,"7":1.25,"8":1.98,"9":1.85,"10":2.38,"11":1.57,"12":1.81,"13":2.81,"14":2.96,"15":1.46,"16":1.97,"17":1.72,"18":1.86,"19":1.66,"20":2.1,"21":1.98,"22":1.69,"23":1.46,"24":1.66,"25":1.92,"26":1.45,"27":1.35,"28":1.76,"29":1.98,"30":2.38,"31":1.95,"32":1.97,"33":1.35,"34":1.54,"35":1.86,"36":1.36,"37":1.44,"38":1.37,"39":2.08,"40":2.34,"41":1.48,"42":1.7,"43":1.66,"44":2.03,"45":1.25,"46":2.19,"47":2.14,"48":2.38,"49":2.08,"50":2.91,"51":2.29,"52":1.87,"53":1.68,"54":1.62,"55":2.45,"56":2.03,"57":1.66,"58":2.04,"59":0.42,"60":0.41,"61":0.62,"62":0.73,"63":1.87,"64":1.03,"65":2.08,"66":2.28,"67":1.04,"68":0.42,"69":2.5,"70":1.46,"71":1.87,"72":1.03,"73":1.96,"74":1.65,"75":1.15,"76":1.46,"77":0.95,"78":2.76,"79":1.95,"80":1.43,"81":1.77,"82":1.4,"83":1.62,"84":2.35,"85":1.46,"86":1.56,"87":1.34,"88":1.35,"89":1.38,"90":1.64,"91":1.63,"92":1.62,"93":1.99,"94":1.35,"95":3.28,"96":1.56,"97":1.77,"98":1.95,"99":2.81,"100":1.4,"101":1.35,"102":1.31,"103":1.42,"104":1.48,"105":1.42,"106":1.63,"107":1.63,"108":2.08,"109":2.49,"110":3.58,"111":1.22,"112":1.05,"113":1.44,"114":1.04,"115":2.01,"116":1.53,"117":1.61,"118":0.83,"119":1.87,"120":1.83,"121":1.87,"122":1.71,"123":2.01,"124":2.91,"125":1.35,"126":1.77,"127":1.76,"128":1.9,"129":1.35,"130":0.94,"131":0.83,"132":0.83,"133":0.84,"134":1.25,"135":0.94,"136":0.8,"137":1.1,"138":0.88,"139":0.81,"140":0.75,"141":0.64,"142":0.55,"143":1.02,"144":1.14,"145":1.3,"146":0.68,"147":0.86,"148":1.25,"149":1.14,"150":1.25,"151":1.26,"152":1.56,"153":1.87,"154":1.4,"155":1.55,"156":1.56,"157":1.14,"158":2.7,"159":2.29,"160":1.04,"161":0.8,"162":0.96,"163":0.94,"164":1.03,"165":1.15,"166":1.46,"167":0.97,"168":1.54,"169":1.11,"170":0.73,"171":0.64,"172":1.24,"173":1.06,"174":1.41,"175":1.35,"176":1.46,"177":1.35},"Color.int":{"0":5.64,"1":4.38,"2":5.68,"3":7.8,"4":4.32,"5":6.75,"6":5.25,"7":5.05,"8":5.2,"9":7.22,"10":5.75,"11":5.0,"12":5.6,"13":5.4,"14":7.5,"15":7.3,"16":6.2,"17":6.6,"18":8.7,"19":5.1,"20":5.65,"21":4.5,"22":3.8,"23":3.93,"24":3.52,"25":3.58,"26":4.8,"27":3.95,"28":4.5,"29":4.7,"30":5.7,"31":6.9,"32":3.84,"33":5.4,"34":4.2,"35":5.1,"36":4.6,"37":4.25,"38":3.7,"39":5.1,"40":6.13,"41":4.28,"42":5.43,"43":4.36,"44":5.04,"45":5.24,"46":4.9,"47":6.1,"48":6.2,"49":8.9,"50":7.2,"51":5.6,"52":7.05,"53":6.3,"54":5.85,"55":6.25,"56":6.38,"57":6.0,"58":6.8,"59":1.95,"60":3.27,"61":5.75,"62":3.8,"63":4.45,"64":2.95,"65":4.6,"66":5.3,"67":4.68,"68":3.17,"69":2.85,"70":3.05,"71":3.38,"72":3.74,"73":3.35,"74":3.21,"75":3.8,"76":4.6,"77":2.65,"78":3.4,"79":2.57,"80":2.5,"81":3.9,"82":2.2,"83":4.8,"84":3.05,"85":2.62,"86":2.45,"87":2.6,"88":2.8,"89":1.74,"90":2.4,"91":3.6,"92":3.05,"93":2.15,"94":3.25,"95":2.6,"96":2.5,"97":2.9,"98":4.5,"99":2.3,"100":3.3,"101":2.45,"102":2.8,"103":2.06,"104":2.94,"105":2.7,"106":3.4,"107":3.3,"108":2.7,"109":2.65,"110":2.9,"111":2.0,"112":3.8,"113":3.08,"114":2.9,"115":1.9,"116":1.95,"117":2.06,"118":3.4,"119":1.28,"120":3.25,"121":6.0,"122":2.08,"123":2.6,"124":2.8,"125":2.76,"126":3.94,"127":3.0,"128":2.12,"129":2.6,"130":4.1,"131":5.4,"132":5.7,"133":5.0,"134":5.45,"135":7.1,"136":3.85,"137":5.0,"138":5.7,"139":4.92,"140":4.6,"141":5.6,"142":4.35,"143":4.4,"144":8.21,"145":4.0,"146":4.9,"147":7.65,"148":8.42,"149":9.4,"150":8.6,"151":10.8,"152":7.1,"153":10.52,"154":7.6,"155":7.9,"156":9.01,"157":7.5,"158":13.0,"159":11.75,"160":7.65,"161":5.88,"162":5.58,"163":5.28,"164":9.58,"165":6.62,"166":10.68,"167":10.26,"168":8.66,"169":8.5,"170":5.5,"171":9.899999,"172":9.7,"173":7.7,"174":7.3,"175":10.2,"176":9.3,"177":9.2},"Hue":{"0":1.04,"1":1.05,"2":1.03,"3":0.86,"4":1.04,"5":1.05,"6":1.02,"7":1.06,"8":1.08,"9":1.01,"10":1.25,"11":1.17,"12":1.15,"13":1.25,"14":1.2,"15":1.28,"16":1.07,"17":1.13,"18":1.23,"19":0.96,"20":1.09,"21":1.03,"22":1.11,"23":1.09,"24":1.12,"25":1.13,"26":0.92,"27":1.02,"28":1.25,"29":1.04,"30":1.19,"31":1.09,"32":1.23,"33":1.25,"34":1.1,"35":1.04,"36":1.09,"37":1.12,"38":1.18,"39":0.89,"40":0.95,"41":0.91,"42":0.88,"43":0.82,"44":0.88,"45":0

In [31]:
dataframe.to_json(orient = 'records') #  It is taking row wise (record wise) without index values.

'[{"Wine":1,"Alcohol":14.23,"Malic.acid":1.71,"Ash":2.43,"Acl":15.6,"Mg":127,"Phenols":2.8,"Flavanoids":3.06,"Nonflavanoid.phenols":0.28,"Proanth":2.29,"Color.int":5.64,"Hue":1.04,"OD":3.92,"Proline":1065},{"Wine":1,"Alcohol":13.2,"Malic.acid":1.78,"Ash":2.14,"Acl":11.2,"Mg":100,"Phenols":2.65,"Flavanoids":2.76,"Nonflavanoid.phenols":0.26,"Proanth":1.28,"Color.int":4.38,"Hue":1.05,"OD":3.4,"Proline":1050},{"Wine":1,"Alcohol":13.16,"Malic.acid":2.36,"Ash":2.67,"Acl":18.6,"Mg":101,"Phenols":2.8,"Flavanoids":3.24,"Nonflavanoid.phenols":0.3,"Proanth":2.81,"Color.int":5.68,"Hue":1.03,"OD":3.17,"Proline":1185},{"Wine":1,"Alcohol":14.37,"Malic.acid":1.95,"Ash":2.5,"Acl":16.8,"Mg":113,"Phenols":3.85,"Flavanoids":3.49,"Nonflavanoid.phenols":0.24,"Proanth":2.18,"Color.int":7.8,"Hue":0.86,"OD":3.45,"Proline":1480},{"Wine":1,"Alcohol":13.24,"Malic.acid":2.59,"Ash":2.87,"Acl":21.0,"Mg":118,"Phenols":2.8,"Flavanoids":2.69,"Nonflavanoid.phenols":0.39,"Proanth":1.82,"Color.int":4.32,"Hue":1.04,"OD":2.93,"Proline":735},{"Wine":1,"Alcohol":14.2,"Malic.acid":1.76,"Ash":2.45,"Acl":15.2,"Mg":112,"Phenols":3.27,"Flavanoids":3.39,"Nonflavanoid.phenols":0.34,"Proanth":1.97,"Color.int":6.75,"Hue":1.05,"OD":2.85,"Proline":1450},{"Wine":1,"Alcohol":14.39,"Malic.acid":1.87,"Ash":2.45,"Acl":14.6,"Mg":96,"Phenols":2.5,"Flavanoids":2.52,"Nonflavanoid.phenols":0.3,"Proanth":1.98,"Color.int":5.25,"Hue":1.02,"OD":3.58,"Proline":1290},{"Wine":1,"Alcohol":14.06,"Malic.acid":2.15,"Ash":2.61,"Acl":17.6,"Mg":121,"Phenols":2.6,"Flavanoids":2.51,"Nonflavanoid.phenols":0.31,"Proanth":1.25,"Color.int":5.05,"Hue":1.06,"OD":3.58,"Proline":1295},{"Wine":1,"Alcohol":14.83,"Malic.acid":1.64,"Ash":2.17,"Acl":14.0,"Mg":97,"Phenols":2.8,"Flavanoids":2.98,"Nonflavanoid.phenols":0.29,"Proanth":1.98,"Color.int":5.2,"Hue":1.08,"OD":2.85,"Proline":1045},{"Wine":1,"Alcohol":13.86,"Malic.acid":1.35,"Ash":2.27,"Acl":16.0,"Mg":98,"Phenols":2.98,"Flavanoids":3.15,"Nonflavanoid.phenols":0.22,"Proanth":1.85,"Color.int":7.22,"Hue":1.01,"OD":3.55,"Proline":1045},{"Wine":1,"Alcohol":14.1,"Malic.acid":2.16,"Ash":2.3,"Acl":18.0,"Mg":105,"Phenols":2.95,"Flavanoids":3.32,"Nonflavanoid.phenols":0.22,"Proanth":2.38,"Color.int":5.75,"Hue":1.25,"OD":3.17,"Proline":1510},{"Wine":1,"Alcohol":14.12,"Malic.acid":1.48,"Ash":2.32,"Acl":16.8,"Mg":95,"Phenols":2.2,"Flavanoids":2.43,"Nonflavanoid.phenols":0.26,"Proanth":1.57,"Color.int":5.0,"Hue":1.17,"OD":2.82,"Proline":1280},{"Wine":1,"Alcohol":13.75,"Malic.acid":1.73,"Ash":2.41,"Acl":16.0,"Mg":89,"Phenols":2.6,"Flavanoids":2.76,"Nonflavanoid.phenols":0.29,"Proanth":1.81,"Color.int":5.6,"Hue":1.15,"OD":2.9,"Proline":1320},{"Wine":1,"Alcohol":14.75,"Malic.acid":1.73,"Ash":2.39,"Acl":11.4,"Mg":91,"Phenols":3.1,"Flavanoids":3.69,"Nonflavanoid.phenols":0.43,"Proanth":2.81,"Color.int":5.4,"Hue":1.25,"OD":2.73,"Proline":1150},{"Wine":1,"Alcohol":14.38,"Malic.acid":1.87,"Ash":2.38,"Acl":12.0,"Mg":102,"Phenols":3.3,"Flavanoids":3.64,"Nonflavanoid.phenols":0.29,"Proanth":2.96,"Color.int":7.5,"Hue":1.2,"OD":3.0,"Proline":1547},{"Wine":1,"Alcohol":13.63,"Malic.acid":1.81,"Ash":2.7,"Acl":17.2,"Mg":112,"Phenols":2.85,"Flavanoids":2.91,"Nonflavanoid.phenols":0.3,"Proanth":1.46,"Color.int":7.3,"Hue":1.28,"OD":2.88,"Proline":1310},{"Wine":1,"Alcohol":14.3,"Malic.acid":1.92,"Ash":2.72,"Acl":20.0,"Mg":120,"Phenols":2.8,"Flavanoids":3.14,"Nonflavanoid.phenols":0.33,"Proanth":1.97,"Color.int":6.2,"Hue":1.07,"OD":2.65,"Proline":1280},{"Wine":1,"Alcohol":13.83,"Malic.acid":1.57,"Ash":2.62,"Acl":20.0,"Mg":115,"Phenols":2.95,"Flavanoids":3.4,"Nonflavanoid.phenols":0.4,"Proanth":1.72,"Color.int":6.6,"Hue":1.13,"OD":2.57,"Proline":1130},{"Wine":1,"Alcohol":14.19,"Malic.acid":1.59,"Ash":2.48,"Acl":16.5,"Mg":108,"Phenols":3.3,"Flavanoids":3.93,"Nonflavanoid.phenols":0.32,"Proanth":1.86,"Color.int":8.7,"Hue":1.23,"OD":2.82,"Proline":1680},{"Wine":1,"Alcohol":13.64,"Malic.acid":3.1,"Ash":2.56,"Acl":15.2,"Mg":116,"Phenols":2.7,"Flavanoids":3.03,"Nonflavanoid.phenols":0.17,"Proanth":1.66,"Color.int":5.1,"Hue":0.96,"OD":3.36,"Proline":845},{"Wine":1,"Alcohol":14.06,"Malic.acid":1.63,"Ash":2.28,"Acl":16.0,"Mg":126,"Phenols":3.0,"Flavanoids":3.17,"Nonflavanoid.phenols":0.24,"Proanth":2.1,"Color.int":5.65,"Hue":1.09,"OD":3.71,"Proline":780},{"Wine":1,"Alcohol":12.93,"Malic.acid":3.8,"Ash":2.65,"Acl":18.6,"Mg":102,"Phenols":2.41,"Flavanoids":2.41,"Nonflavanoid.phenols":0.25,"Proanth":1.98,"Color.int":4.5,"Hue":1.03,"OD":3.52,"Proline":770},{"Wine":1,"Alcohol":13.71,"Malic.acid":1.86,"Ash":2.36,"Acl":16.6,"Mg":101,"Phenols":2.61,"Flavanoids":2.88,"Nonflavanoid.phenols":0.27,"Proanth":1.69,"Color.int":3.8,"Hue":1.11,"OD":4.0,"Proline":1035},{"Wine":1,"Alcohol":12.85,"Malic.acid":1.6,"Ash":2.52,"Acl":17.8,"Mg":95,"Phenols":2.48,"Flavanoids":2.37,"Nonflavanoid.phenols":0.26,"Proanth":1.46,"Color.int":3.93,"Hue":1.09,"OD":3.63,"Proline":1015},{"Wine":1,"Alcohol":13.5,"Malic.acid":1.81,"Ash":2.61,"Acl":20.0,"Mg":96,"Phenols":2.53,"Flavanoids":2.61,"Nonflavanoid.phenols":0.28,"Proanth":1.66,"Color.int":3.52,"Hue":1.12,"OD":3.82,"Proline":845},{"Wine":1,"Alcohol":13.05,"Malic.acid":2.05,"Ash":3.22,"Acl":25.0,"Mg":124,"Phenols":2.63,"Flavanoids":2.68,"Nonflavanoid.phenols":0.47,"Proanth":1.92,"Color.int":3.58,"Hue":1.13,"OD":3.2,"Proline":830},{"Wine":1,"Alcohol":13.39,"Malic.acid":1.77,"Ash":2.62,"Acl":16.1,"Mg":93,"Phenols":2.85,"Flavanoids":2.94,"Nonflavanoid.phenols":0.34,"Proanth":1.45,"Color.int":4.8,"Hue":0.92,"OD":3.22,"Proline":1195},{"Wine":1,"Alcohol":13.3,"Malic.acid":1.72,"Ash":2.14,"Acl":17.0,"Mg":94,"Phenols":2.4,"Flavanoids":2.19,"Nonflavanoid.phenols":0.27,"Proanth":1.35,"Color.int":3.95,"Hue":1.02,"OD":2.77,"Proline":1285},{"Wine":1,"Alcohol":13.87,"Malic.acid":1.9,"Ash":2.8,"Acl":19.4,"Mg":107,"Phenols":2.95,"Flavanoids":2.97,"Nonflavanoid.phenols":0.37,"Proanth":1.76,"Color.int":4.5,"Hue":1.25,"OD":3.4,"Proline":915},{"Wine":1,"Alcohol":14.02,"Malic.acid":1.68,"Ash":2.21,"Acl":16.0,"Mg":96,"Phenols":2.65,"Flavanoids":2.33,"Nonflavanoid.phenols":0.26,"Proanth":1.98,"Color.int":4.7,"Hue":1.04,"OD":3.59,"Proline":1035},{"Wine":1,"Alcohol":13.73,"Malic.acid":1.5,"Ash":2.7,"Acl":22.5,"Mg":101,"Phenols":3.0,"Flavanoids":3.25,"Nonflavanoid.phenols":0.29,"Proanth":2.38,"Color.int":5.7,"Hue":1.19,"OD":2.71,"Proline":1285},{"Wine":1,"Alcohol":13.58,"Malic.acid":1.66,"Ash":2.36,"Acl":19.1,"Mg":106,"Phenols":2.86,"Flavanoids":3.19,"Nonflavanoid.phenols":0.22,"Proanth":1.95,"Color.int":6.9,"Hue":1.09,"OD":2.88,"Proline":1515},{"Wine":1,"Alcohol":13.68,"Malic.acid":1.83,"Ash":2.36,"Acl":17.2,"Mg":104,"Phenols":2.42,"Flavanoids":2.69,"Nonflavanoid.phenols":0.42,"Proanth":1.97,"Color.int":3.84,"Hue":1.23,"OD":2.87,"Proline":990},{"Wine":1,"Alcohol":13.76,"Malic.acid":1.53,"Ash":2.7,"Acl":19.5,"Mg":132,"Phenols":2.95,"Flavanoids":2.74,"Nonflavanoid.phenols":0.5,"Proanth":1.35,"Color.int":5.4,"Hue":1.25,"OD":3.0,"Proline":1235},{"Wine":1,"Alcohol":13.51,"Malic.acid":1.8,"Ash":2.65,"Acl":19.0,"Mg":110,"Phenols":2.35,"Flavanoids":2.53,"Nonflavanoid.phenols":0.29,"Proanth":1.54,"Color.int":4.2,"Hue":1.1,"OD":2.87,"Proline":1095},{"Wine":1,"Alcohol":13.48,"Malic.acid":1.81,"Ash":2.41,"Acl":20.5,"Mg":100,"Phenols":2.7,"Flavanoids":2.98,"Nonflavanoid.phenols":0.26,"Proanth":1.86,"Color.int":5.1,"Hue":1.04,"OD":3.47,"Proline":920},{"Wine":1,"Alcohol":13.28,"Malic.acid":1.64,"Ash":2.84,"Acl":15.5,"Mg":110,"Phenols":2.6,"Flavanoids":2.68,"Nonflavanoid.phenols":0.34,"Proanth":1.36,"Color.int":4.6,"Hue":1.09,"OD":2.78,"Proline":880},{"Wine":1,"Alcohol":13.05,"Malic.acid":1.65,"Ash":2.55,"Acl":18.0,"Mg":98,"Phenols":2.45,"Flavanoids":2.43,"Nonflavanoid.phenols":0.29,"Proanth":1.44,"Color.int":4.25,"Hue":1.12,"OD":2.51,"Proline":1105},{"Wine":1,"Alcohol":13.07,"Malic.acid":1.5,"Ash":2.1,"Acl":15.5,"Mg":98,"Phenols":2.4,"Flavanoids":2.64,"Nonflavanoid.phenols":0.28,"Proanth":1.37,"Color.int":3.7,"Hue":1.18,"OD":2.69,"Proline":1020},{"Wine":1,"Alcohol":14.22,"Malic.acid":3.99,"Ash":2.51,"Acl":13.2,"Mg":128,"Phenols":3.0,"Flavanoids":3.04,"Nonflavanoid.phenols":0.2,"Proanth":2.08,"Color.int":5.1,"Hue":0.89,"OD":3.53,"Proline":760},{"Wine":1,"Alcohol":13.56,"Malic.acid":1.71,"Ash":2.31,"Acl":16.2,"Mg":117,"Phenols":3.15,"Flavanoids":3.29,"Nonflavanoid.phenols":0.34,"Proanth":2.34,"Color.int":6.13,"Hue":0.95,"OD":3.38,"Proline":795},{"Wine":1,"Alcohol":13.41,"Malic.acid":3.84,"Ash":2.12,"Acl":18.8,"Mg":90,"Phenols":2.45,"Flavanoids":2.68,"Nonflavanoid.phenols":0.27,"Proanth":1.48,"Color.int":4.28,"Hue":0.91,"OD":3.0,"Proline":1035},{"Wine":1,"Alcohol":13.88,"Malic.acid":1.89,"Ash":2.59,"Acl":15.0,"Mg":101,"Phenols":3.25,"Flavanoids":3.56,"Nonflavanoid.phenols":0.17,"Proanth":1.7,"Color.int":5.43,"Hue":0.88,"OD":3.56,"Proline":1095},{"Wine":1,"Alcohol":13.24,"Malic.acid":3.98,"Ash":2.29,"Acl":17.5,"Mg":103,"Phenols":2.64,"Flavanoids":2.63,"Nonflavanoid.phenols":0.32,"Proanth":1.66,"Color.int":4.36,"Hue":0.82,"OD":3.0,"Proline":680},{"Wine":1,"Alcohol":13.05,"Malic.acid":1.77,"Ash":2.1,"Acl":17.0,"Mg":107,"Phenols":3.0,"Flavanoids":3.0,"Nonflavanoid.phenols":0.28,"Proanth":2.03,"Color.int":5.04,"Hue":0.88,"OD":3.35,"Proline":885},{"Wine":1,"Alcohol":14.21,"Malic.acid":4.04,"Ash":2.44,"Acl":18.9,"Mg":111,"Phenols":2.85,"Flavanoids":2.65,"Nonflavanoid.phenols":0.3,"Proanth":1.25,"Color.int":5.24,"Hue":0.87,"OD":3.33,"Proline":1080},{"Wine":1,"Alcohol":14.38,"Malic.acid":3.59,"Ash":2.28,"Acl":16.0,"Mg":102,"Phenols":3.25,"Flavanoids":3.17,"Nonflavanoid.phenols":0.27,"Proanth":2.19,"Color.int":4.9,"Hue":1.04,"OD":3.44,"Proline":1065},{"Wine":1,"Alcohol":13.9,"Malic.acid":1.68,"Ash":2.12,"Acl":16.0,"Mg":101,"Phenols":3.1,"Flavanoids":3.39,"Nonflavanoid.phenols":0.21,"Proanth":2.14,"Color.int":6.1,"Hue":0.91,"OD":3.33,"Proline":985},{"Wine":1,"Alcohol":14.1,"Malic.acid":2.02,"Ash":2.4,"Acl":18.8,"Mg":103,"Phenols":2.75,"Flavanoids":2.92,"Nonflavanoid.phenols":0.32,"Proanth":2.38,"Color.int":6.2,"Hue":1.07,"OD":2.75,"Proline":1060},{"Wine":1,"Alcohol":13.94,"Malic.acid":1.73,"Ash":2.27,"Acl":17.4,"Mg":108,"Phenols":2.88,"Flavanoids":3.54,"Nonflavanoid.phenols":0.32,"Proanth":2.08,"Color.int":8.9,"Hue":1.12,"OD":3.1,"Proline":1260},{"Wine":1,"Alcohol":13.05,"Malic.acid":1.73,"Ash":2.04,"Acl":12.4,"Mg":92,"Phenols":2.72,"Flavanoids":3.27,"Nonflavanoid.phenols":0.17,"Proanth":2.91,"Color.int":7.2,"Hue":1.12,"OD":2.91,"Proline":1150},{"Wine":1,"Alcohol":13.83,"Malic.acid":1.65,"Ash":2.6,"Acl":17.2,"Mg":94,"Phenols":2.45,"Flavanoids":2.99,"Nonflavanoid.phenols":0.22,"Proanth":2.29,"Color.int":5.6,"Hue":1.24,"OD":3.37,"Proline":1265},{"Wine":1,"Alcohol":13.82,"Malic.acid":1.75,"Ash":2.42,"Acl":14.0,"Mg":111,"Phenols":3.88,"Flavanoids":3.74,"Nonflavanoid.phenols":0.32,"Proanth":1.87,"Color.int":7.05,"Hue":1.01,"OD":3.26,"Proline":1190},{"Wine":1,"Alcohol":13.77,"Malic.acid":1.9,"Ash":2.68,"Acl":17.1,"Mg":115,"Phenols":3.0,"Flavanoids":2.79,"Nonflavanoid.phenols":0.39,"Proanth":1.68,"Color.int":6.3,"Hue":1.13,"OD":2.93,"Proline":1375},{"Wine":1,"Alcohol":13.74,"Malic.acid":1.67,"Ash":2.25,"Acl":16.4,"Mg":118,"Phenols":2.6,"Flavanoids":2.9,"Nonflavanoid.phenols":0.21,"Proanth":1.62,"Color.int":5.85,"Hue":0.92,"OD":3.2,"Proline":1060},{"Wine":1,"Alcohol":13.56,"Malic.acid":1.73,"Ash":2.46,"Acl":20.5,"Mg":116,"Phenols":2.96,"Flavanoids":2.78,"Nonflavanoid.phenols":0.2,"Proanth":2.45,"Color.int":6.25,"Hue":0.98,"OD":3.03,"Proline":1120},{"Wine":1,"Alcohol":14.22,"Malic.acid":1.7,"Ash":2.3,"Acl":16.3,"Mg":118,"Phenols":3.2,"Flavanoids":3.0,"Nonflavanoid.phenols":0.26,"Proanth":2.03,"Color.int":6.38,"Hue":0.94,"OD":3.31,"Proline":970},{"Wine":1,"Alcohol":13.29,"Malic.acid":1.97,"Ash":2.68,"Acl":16.8,"Mg":102,"Phenols":3.0,"Flavanoids":3.23,"Nonflavanoid.phenols":0.31,"Proanth":1.66,"Color.int":6.0,"Hue":1.07,"OD":2.84,"Proline":1270},{"Wine":1,"Alcohol":13.72,"Malic.acid":1.43,"Ash":2.5,"Acl":16.7,"Mg":108,"Phenols":3.4,"Flavanoids":3.67,"Nonflavanoid.phenols":0.19,"Proanth":2.04,"Color.int":6.8,"Hue":0.89,"OD":2.87,"Proline":1285},{"Wine":2,"Alcohol":12.37,"Malic.acid":0.94,"Ash":1.36,"Acl":10.6,"Mg":88,"Phenols":1.98,"Flavanoids":0.57,"Nonflavanoid.phenols":0.28,"Proanth":0.42,"Color.int":1.95,"Hue":1.05,"OD":1.82,"Proline":520},{"Wine":2,"Alcohol":12.33,"Malic.acid":1.1,"Ash":2.28,"Acl":16.0,"Mg":101,"Phenols":2.05,"Flavanoids":1.09,"Nonflavanoid.phenols":0.63,"Proanth":0.41,"Color.int":3.27,"Hue":1.25,"OD":1.67,"Proline":680},{"Wine":2,"Alcohol":12.64,"Malic.acid":1.36,"Ash":2.02,"Acl":16.8,"Mg":100,"Phenols":2.02,"Flavanoids":1.41,"Nonflavanoid.phenols":0.53,"Proanth":0.62,"Color.int":5.75,"Hue":0.98,"OD":1.59,"Proline":450},{"Wine":2,"Alcohol":13.67,"Malic.acid":1.25,"Ash":1.92,"Acl":18.0,"Mg":94,"Phenols":2.1,"Flavanoids":1.79,"Nonflavanoid.phenols":0.32,"Proanth":0.73,"Color.int":3.8,"Hue":1.23,"OD":2.46,"Proline":630},{"Wine":2,"Alcohol":12.37,"Malic.acid":1.13,"Ash":2.16,"Acl":19.0,"Mg":87,"Phenols":3.5,"Flavanoids":3.1,"Nonflavanoid.phenols":0.19,"Proanth":1.87,"Color.int":4.45,"Hue":1.22,"OD":2.87,"Proline":420},{"Wine":2,"Alcohol":12.17,"Malic.acid":1.45,"Ash":2.53,"Acl":19.0,"Mg":104,"Phenols":1.89,"Flavanoids":1.75,"Nonflavanoid.phenols":0.45,"Proanth":1.03,"Color.int":2.95,"Hue":1.45,"OD":2.23,"Proline":355},{"Wine":2,"Alcohol":12.37,"Malic.acid":1.21,"Ash":2.56,"Acl":18.1,"Mg":98,"Phenols":2.42,"Flavanoids":2.65,"Nonflavanoid.phenols":0.37,"Proanth":2.08,"Color.int":4.6,"Hue":1.19,"OD":2.3,"Proline":678},{"Wine":2,"Alcohol":13.11,"Malic.acid":1.01,"Ash":1.7,"Acl":15.0,"Mg":78,"Phenols":2.98,"Flavanoids":3.18,"Nonflavanoid.phenols":0.26,"Proanth":2.28,"Color.int":5.3,"Hue":1.12,"OD":3.18,"Proline":502},{"Wine":2,"Alcohol":12.37,"Malic.acid":1.17,"Ash":1.92,"Acl":19.6,"Mg":78,"Phenols":2.11,"Flavanoids":2.0,"Nonflavanoid.phenols":0.27,"Proanth":1.04,"Color.int":4.68,"Hue":1.12,"OD":3.48,"Proline":510},{"Wine":2,"Alcohol":13.34,"Malic.acid":0.94,"Ash":2.36,"Acl":17.0,"Mg":110,"Phenols":2.53,"Flavanoids":1.3,"Nonflavanoid.phenols":0.55,"Proanth":0.42,"Color.int":3.17,"Hue":1.02,"OD":1.93,"Proline":750},{"Wine":2,"Alcohol":12.21,"Malic.acid":1.19,"Ash":1.75,"Acl":16.8,"Mg":151,"Phenols":1.85,"Flavanoids":1.28,"Nonflavanoid.phenols":0.14,"Proanth":2.5,"Color.int":2.85,"Hue":1.28,"OD":3.07,"Proline":718},{"Wine":2,"Alcohol":12.29,"Malic.acid":1.61,"Ash":2.21,"Acl":20.4,"Mg":103,"Phenols":1.1,"Flavanoids":1.02,"Nonflavanoid.phenols":0.37,"Proanth":1.46,"Color.int":3.05,"Hue":0.906,"OD":1.82,"Proline":870},{"Wine":2,"Alcohol":13.86,"Malic.acid":1.51,"Ash":2.67,"Acl":25.0,"Mg":86,"Phenols":2.95,"Flavanoids":2.86,"Nonflavanoid.phenols":0.21,"Proanth":1.87,"Color.int":3.38,"Hue":1.36,"OD":3.16,"Proline":410},{"Wine":2,"Alcohol":13.49,"Malic.acid":1.66,"Ash":2.24,"Acl":24.0,"Mg":87,"Phenols":1.88,"Flavanoids":1.84,"Nonflavanoid.phenols":0.27,"Proanth":1.03,"Color.int":3.74,"Hue":0.98,"OD":2.78,"Proline":472},{"Wine":2,"Alcohol":12.99,"Malic.acid":1.67,"Ash":2.6,"Acl":30.0,"Mg":139,"Phenols":3.3,"Flavanoids":2.89,"Nonflavanoid.phenols":0.21,"Proanth":1.96,"Color.int":3.35,"Hue":1.31,"OD":3.5,"Proline":985},{"Wine":2,"Alcohol":11.96,"Malic.acid":1.09,"Ash":2.3,"Acl":21.0,"Mg":101,"Phenols":3.38,"Flavanoids":2.14,"Nonflavanoid.phenols":0.13,"Proanth":1.65,"Color.int":3.21,"Hue":0.99,"OD":3.13,"Proline":886},{"Wine":2,"Alcohol":11.66,"Malic.acid":1.88,"Ash":1.92,"Acl":16.0,"Mg":97,"Phenols":1.61,"Flavanoids":1.57,"Nonflavanoid.phenols":0.34,"Proanth":1.15,"Color.int":3.8,"Hue":1.23,"OD":2.14,"Proline":428},{"Wine":2,"Alcohol":13.03,"Malic.acid":0.9,"Ash":1.71,"Acl":16.0,"Mg":86,"Phenols":1.95,"Flavanoids":2.03,"Nonflavanoid.phenols":0.24,"Proanth":1.46,"Color.int":4.6,"Hue":1.19,"OD":2.48,"Proline":392},{"Wine":2,"Alcohol":11.84,"Malic.acid":2.89,"Ash":2.23,"Acl":18.0,"Mg":112,"Phenols":1.72,"Flavanoids":1.32,"Nonflavanoid.phenols":0.43,"Proanth":0.95,"Color.int":2.65,"Hue":0.96,"OD":2.52,"Proline":500},{"Wine":2,"Alcohol":12.33,"Malic.acid":0.99,"Ash":1.95,"Acl":14.8,"Mg":136,"Phenols":1.9,"Flavanoids":1.85,"Nonflavanoid.phenols":0.35,"Proanth":2.76,"Color.int":3.4,"Hue":1.06,"OD":2.31,"Proline":750},{"Wine":2,"Alcohol":12.7,"Malic.acid":3.87,"Ash":2.4,"Acl":23.0,"Mg":101,"Phenols":2.83,"Flavanoids":2.55,"Nonflavanoid.phenols":0.43,"Proanth":1.95,"Color.int":2.57,"Hue":1.19,"OD":3.13,"Proline":463},{"Wine":2,"Alcohol":12.0,"Malic.acid":0.92,"Ash":2.0,"Acl":19.0,"Mg":86,"Phenols":2.42,"Flavanoids":2.26,"Nonflavanoid.phenols":0.3,"Proanth":1.43,"Color.int":2.5,"Hue":1.38,"OD":3.12,"Proline":278},{"Wine":2,"Alcohol":12.72,"Malic.acid":1.81,"Ash":2.2,"Acl":18.8,"Mg":86,"Phenols":2.2,"Flavanoids":2.53,"Nonflavanoid.phenols":0.26,"Proanth":1.77,"Color.int":3.9,"Hue":1.16,"OD":3.14,"Proline":714},{"Wine":2,"Alcohol":12.08,"Malic.acid":1.13,"Ash":2.51,"Acl":24.0,"Mg":78,"Phenols":2.0,"Flavanoids":1.58,"Nonflavanoid.phenols":0.4,"Proanth":1.4,"Color.int":2.2,"Hue":1.31,"OD":2.72,"Proline":630},{"Wine":2,"Alcohol":13.05,"Malic.acid":3.86,"Ash":2.32,"Acl":22.5,"Mg":85,"Phenols":1.65,"Flavanoids":1.59,"Nonflavanoid.phenols":0.61,"Proanth":1.62,"Color.int":4.8,"Hue":0.84,"OD":2.01,"Proline":515},{"Wine":2,"Alcohol":11.84,"Malic.acid":0.89,"Ash":2.58,"Acl":18.0,"Mg":94,"Phenols":2.2,"Flavanoids":2.21,"Nonflavanoid.phenols":0.22,"Proanth":2.35,"Color.int":3.05,"Hue":0.79,"OD":3.08,"Proline":520},{"Wine":2,"Alcohol":12.67,"Malic.acid":0.98,"Ash":2.24,"Acl":18.0,"Mg":99,"Phenols":2.2,"Flavanoids":1.94,"Nonflavanoid.phenols":0.3,"Proanth":1.46,"Color.int":2.62,"Hue":1.23,"OD":3.16,"Proline":450},{"Wine":2,"Alcohol":12.16,"Malic.acid":1.61,"Ash":2.31,"Acl":22.8,"Mg":90,"Phenols":1.78,"Flavanoids":1.69,"Nonflavanoid.phenols":0.43,"Proanth":1.56,"Color.int":2.45,"Hue":1.33,"OD":2.26,"Proline":495},{"Wine":2,"Alcohol":11.65,"Malic.acid":1.67,"Ash":2.62,"Acl":26.0,"Mg":88,"Phenols":1.92,"Flavanoids":1.61,"Nonflavanoid.phenols":0.4,"Proanth":1.34,"Color.int":2.6,"Hue":1.36,"OD":3.21,"Proline":562},{"Wine":2,"Alcohol":11.64,"Malic.acid":2.06,"Ash":2.46,"Acl":21.6,"Mg":84,"Phenols":1.95,"Flavanoids":1.69,"Nonflavanoid.phenols":0.48,"Proanth":1.35,"Color.int":2.8,"Hue":1.0,"OD":2.75,"Proline":680},{"Wine":2,"Alcohol":12.08,"Malic.acid":1.33,"Ash":2.3,"Acl":23.6,"Mg":70,"Phenols":2.2,"Flavanoids":1.59,"Nonflavanoid.phenols":0.42,"Proanth":1.38,"Color.int":1.74,"Hue":1.07,"OD":3.21,"Proline":625},{"Wine":2,"Alcohol":12.08,"Malic.acid":1.83,"Ash":2.32,"Acl":18.5,"Mg":81,"Phenols":1.6,"Flavanoids":1.5,"Nonflavanoid.phenols":0.52,"Proanth":1.64,"Color.int":2.4,"Hue":1.08,"OD":2.27,"Proline":480},{"Wine":2,"Alcohol":12.0,"Malic.acid":1.51,"Ash":2.42,"Acl":22.0,"Mg":86,"Phenols":1.45,"Flavanoids":1.25,"Nonflavanoid.phenols":0.5,"Proanth":1.63,"Color.int":3.6,"Hue":1.05,"OD":2.65,"Proline":450},{"Wine":2,"Alcohol":12.69,"Malic.acid":1.53,"Ash":2.26,"Acl":20.7,"Mg":80,"Phenols":1.38,"Flavanoids":1.46,"Nonflavanoid.phenols":0.58,"Proanth":1.62,"Color.int":3.05,"Hue":0.96,"OD":2.06,"Proline":495},{"Wine":2,"Alcohol":12.29,"Malic.acid":2.83,"Ash":2.22,"Acl":18.0,"Mg":88,"Phenols":2.45,"Flavanoids":2.25,"Nonflavanoid.phenols":0.25,"Proanth":1.99,"Color.int":2.15,"Hue":1.15,"OD":3.3,"Proline":290},{"Wine":2,"Alcohol":11.62,"Malic.acid":1.99,"Ash":2.28,"Acl":18.0,"Mg":98,"Phenols":3.02,"Flavanoids":2.26,"Nonflavanoid.phenols":0.17,"Proanth":1.35,"Color.int":3.25,"Hue":1.16,"OD":2.96,"Proline":345},{"Wine":2,"Alcohol":12.47,"Malic.acid":1.52,"Ash":2.2,"Acl":19.0,"Mg":162,"Phenols":2.5,"Flavanoids":2.27,"Nonflavanoid.phenols":0.32,"Proanth":3.28,"Color.int":2.6,"Hue":1.16,"OD":2.63,"Proline":937},{"Wine":2,"Alcohol":11.81,"Malic.acid":2.12,"Ash":2.74,"Acl":21.5,"Mg":134,"Phenols":1.6,"Flavanoids":0.99,"Nonflavanoid.phenols":0.14,"Proanth":1.56,"Color.int":2.5,"Hue":0.95,"OD":2.26,"Proline":625},{"Wine":2,"Alcohol":12.29,"Malic.acid":1.41,"Ash":1.98,"Acl":16.0,"Mg":85,"Phenols":2.55,"Flavanoids":2.5,"Nonflavanoid.phenols":0.29,"Proanth":1.77,"Color.int":2.9,"Hue":1.23,"OD":2.74,"Proline":428},{"Wine":2,"Alcohol":12.37,"Malic.acid":1.07,"Ash":2.1,"Acl":18.5,"Mg":88,"Phenols":3.52,"Flavanoids":3.75,"Nonflavanoid.phenols":0.24,"Proanth":1.95,"Color.int":4.5,"Hue":1.04,"OD

In [ ]:
# Reading HTML file

In [37]:
DF3=pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
DF3

[                                             Bank Name                City  \
 0                     City National Bank of New Jersey              Newark
 1                                        Resolute Bank              Maumee
 2                                Louisa Community Bank              Louisa
 3                                 The Enloe State Bank              Cooper
 4                  Washington Federal Bank for Savings             Chicago
 5      The Farmers and Merchants State Bank of Argonia             Argonia
 6                                  Fayette County Bank          Saint Elmo
 7    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 8                                       First NBC Bank         New Orleans
 9                                        Proficio Bank  Cottonwood Heights
 10                       Seaway Bank and Trust Company             Chicago
 11                              Harvest Community Bank          Pennsville
 12                                         Allied Bank            Mulberry
 13                        The Woodbury Banking Company            Woodbury
 14                              First CornerStone Bank     King of Prussia
 15                                  Trust Company Bank             Memphis
 16                          North Milwaukee State Bank           Milwaukee
 17                              Hometown National Bank            Longview
 18                                 The Bank of Georgia      Peachtree City
 19                                        Premier Bank              Denver
 20                                      Edgebrook Bank             Chicago
 21                              Doral Bank  En Español            San Juan
 22                   Capitol City Bank & Trust Company             Atlanta
 23                             Highland Community Bank             Chicago
 24                    First National Bank of Crestview           Crestview
 25                                  Northern Star Bank             Mankato
 26              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 27               The National Republic Bank of Chicago             Chicago
 28                                      NBRS Financial          Rising Sun
 29                               GreenChoice Bank, fsb             Chicago
 ..                                                 ...                 ...
 529                                  ANB Financial, NA         Bentonville
 530                                          Hume Bank                Hume
 531                             Douglass National Bank         Kansas City
 532                                  Miami Valley Bank            Lakeview
 533                                            NetBank          Alpharetta
 534                          Metropolitan Savings Bank          Pittsburgh
 535                                    Bank of Ephraim             Ephraim
 536                                      Reliance Bank        White Plains
 537              Guaranty National Bank of Tallahassee         Tallahassee
 538                                Dollar Savings Bank              Newark
 539                               Pulaski Savings Bank        Philadelphia
 540              First National Bank of Blanchardville      Blanchardville
 541                              Southern Pacific Bank            Torrance
 542                        Farmers Bank of Cheneyville         Cheneyville
 543                                      Bank of Alamo               Alamo
 544             AmTrade International Bank  En Español             Atlanta
 545                     Universal Federal Savings Bank             Chicago
 546                       Connecticut Bank of Commerce            Stamford
 547                                   New Century Bank     Shelby Township
 548                              Net 1st National Bank          Boca Raton
 549                                       NextBank, NA             Phoenix
 550                           Oakwood Deposit Bank Co.             Oakwood
 551                              Bank of Sierra Blanca       Sierra Blanca
 552                      Hamilton Bank, NA  En Español               Miami
 553                             Sinclair National Bank            Gravette
 554                                 Superior Bank, FSB            Hinsdale
 555                                Malta National Bank               Malta
 556                    First Alliance Bank & Trust Co.          Manchester
 557                  National State Bank of Metropolis          Metropolis
 558                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date  \
 0    NJ  21111                      Industrial Bank    November 1, 2019
 1    OH  58317                   Buckeye State Bank    October 25, 2019
 2    KY  58112    Kentucky Farmers Bank Corporation    October 25, 2019
 3    TX  10716                   Legend Bank, N. A.        May 31, 2019
 4    IL  30570                   Royal Savings Bank   December 15, 2017
 5    KS  17719                          Conway Bank    October 13, 2017
 6    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 7    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 8    LA  58302                         Whitney Bank      April 28, 2017
 9    UT  35495                    Cache Valley Bank       March 3, 2017
 10   IL  19328                  State Bank of Texas    January 27, 2017
 11   NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 12   AR     91                         Today's Bank  September 23, 2016
 13   GA  11297                          United Bank     August 19, 2016
 14   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 15   TN   9956           The Bank of Fayette County      April 29, 2016
 16   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 17   WA  35156                       Twin City Bank     October 2, 2015
 18   GA  35259                        Fidelity Bank     October 2, 2015
 19   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 20   IL  57772             Republic Bank of Chicago         May 8, 2015
 21   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 22   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 23   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 24   FL  17557                       First NBC Bank    January 16, 2015
 25   MN  34983                            BankVista   December 19, 2014
 26   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 27   IL    916                  State Bank of Texas    October 24, 2014
 28   MD   4862                          Howard Bank    October 17, 2014
 29   IL  28462                 Providence Bank, LLC       July 25, 2014
 ..   ..    ...                                  ...                 ...
 529  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 530  MO   1971                        Security Bank       March 7, 2008
 531  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 532  OH  16848         The Citizens Banking Company     October 4, 2007
 533  GA  32575                           ING DIRECT  September 28, 2007
 534  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 535  UT   1249                        Far West Bank       June 25, 2004
 536  NY  26778                     Union State Bank      March 19, 2004
 537  FL  26838              Hancock Bank of Florida      March 12, 2004
 538  NJ  31330                          No Acquirer   February 14, 2004
 539  PA  27203                       Earthstar Bank   November 14, 2003
 540  WI  11639                        The Park Bank         May 9, 2003
 541  CA  27094                            Beal Bank    February 7, 2003
 542  LA  16445            Sabine State Bank & Trust   December 17, 2002
 543  TN   9961                          No Acquirer    November 8, 2002
 544  GA  33784                          No Acquirer  September 30, 2002
 545  IL  29355               Chicago Community Bank       June 27, 2002
 546  CT  19183                   Hudson United Bank       June 26, 2002
 547  MI  34979                          No Acquirer      March 28, 2002
 548  FL  26652                       Bank Leumi USA       March 1, 2002
 549  AZ  22314                          No Acquirer    February 7, 2002
 550  OH   8966       The State Bank & Trust Company    February 1, 2002
 551  TX  22002     The Security State Bank of Pecos    January 18, 2002
 552  FL  24382     Israel Discount Bank of New York    January 11, 2002
 553  AR  34248                   Delta Trust & Bank   September 7, 2001
 554  IL  32646                Superior Federal, FSB       July 27, 2001
 555  OH   6629                    North Valley Bank         May 3, 2001
 556  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 557  IL   3815              Banterra Bank of Marion   December 14, 2000
 558  HI  21029                   Bank of the Orient    October 13, 2000

            Updated Date
 0      November 7, 2019
 1      November 7, 2019
 2      November 7, 2019
 3       August 22, 2019
 4         July 24, 2019
 5       August 12, 2019
 6      January 29, 2019
 7        March 22, 2018
 8      January 29, 2019
 9      January 29, 2019
 10     January 29, 2019
 11   September 20, 2019
 12         May 13, 2019
 13    December 13, 2018
 14    November 13, 2018
 15   September 14, 2018
 16     January 29, 2019
 17    February 19, 2018
 18         July 9, 2018
 19    February 20, 2018
 20     January 29, 2019
 21     January 29, 2019
 22     January 29, 2019
 23    November 15, 2017
 24    November 15, 2017
 25      January 3, 2018
 26    November 10, 2016
 27      January 6, 2016
 28     January 29, 2019
 29    December 12, 2016
 ..                  ...
 529    February 1, 2019
 530    January 31, 2019
 531    October 26, 2012
 532  September 12, 2016
 533    January 31, 2019
 534    October 27, 2010
 535       April 9, 2008
 536       April 9, 2008
 537      April 17, 2018
 538       April 9, 2008
 539     October 6, 2017
 540        June 5, 2012
 541    October 20, 2008
 542    October 20, 2004
 543      March 18, 2005
 544  September 11, 2006
 545     October 6, 2017
 546   February 14, 2012
 547      March 18, 2005
 548       April 9, 2008
 549    February 5, 2015
 550    October 25, 2012
 551    November 6, 2003
 552  September 21, 2015
 553     October 6, 2017
 554     August 19, 2014
 555   November 18, 2002
 556   February 18, 2003
 557      March 17, 2005
 558      March 17, 2005

 [559 rows x 7 columns]]

In [39]:
type(DF3)

list

In [41]:
DF3[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019","November 7, 2019"
1,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","November 7, 2019"
2,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","November 7, 2019"
3,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
4,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
5,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
6,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
7,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
8,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"
9,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","January 29, 2019"
10,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","January 29, 2019"
11,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","September 20, 2019"
12,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","May 13, 2019"
13,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","December 13, 2018"
14,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","November 13, 2018"
15,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 14, 2018"
16,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","January 29, 2019"
17,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","February 19, 2018"
18,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","July 9, 2018"
19,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","February 20, 2018"
20,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","January 29, 2019"
21,Doral Bank En Español,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","January 29, 2019"
22,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","January 29, 2019"
23,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","November 15, 2017"
24,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","November 15, 2017"
25,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 3, 2018"
26,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
27,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
28,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","January 29, 2019"
29,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
...,...,...,...,...,...,...,...
529,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","February 1, 2019"
530,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","January 31, 2019"
531,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
532,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
533,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","January 31, 2019"
534,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
535,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
536,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
537,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","April 17, 2018"
538,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
539,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","October 6, 2017"
540,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
541,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
542,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
543,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
544,AmTrade International Bank En Español,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
545,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","October 6, 2017"
546,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
547,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
548,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
549,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
550,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
551,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
552,"Hamilton Bank, NA En Español",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
553,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","October 6, 2017"
554,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
555,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
556,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
557,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
558,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [50]:
dff = pd.read_html("https://en.wikipedia.org/wiki/List_of_Indian_states_by_life_expectancy_at_birth" , match = 'Rank')
dff[0]

   Rank                                State Life expectancy at birth  \
   Rank                                State             (2010–14)[5]
0     1                               Kerala                     74.9
1     2                                Delhi                     73.2
2     3                          Uttarakhand                     71.7
3     4                     Himachal Pradesh                     71.6
4     5                               Punjab                     71.6
5     6                          Maharashtra                     71.6
6     7                           Tamil Nadu                     70.6
7     8                          West Bengal                     70.2
8     9                            Karnataka                     68.8
9    10                              Gujarat                     68.7
10   11                              Haryana                     68.6
11   12  Andhra Pradesh (includes Telangana)                     68.5
12   13                                Bihar                     68.1
13    *                                India                     68.0
14   14                            Rajasthan                     67.7
15   15                            Jharkhand                     66.6
16   16                               Odisha                     65.8
17   17                         Chhattisgarh                     64.8
18   18                       Madhya Pradesh                     64.2
19   19                        Uttar Pradesh                     64.1
20   20                                Assam                     63.9


   (2002-06)[6]
0          74.0
1             -
2          60.0
3          67.0
4          69.4
5          67.2
6          66.2
7          64.9
8          65.3
9          64.1
10         66.2
11         64.4
12         61.6
13         63.5
14         62.0
15         58.0
16         59.6
17         58.0
18         58.0
19         60.0
20         58.9

In [ ]:
# working with Excel file

In [59]:
dfexcel = pd.read_excel("E:/DS -Python/student.xlsx", sheetname=0) # sheetname 0 means taking the values from the sheet 1.
                                                                    # if you dont give it automatically takes from sheet 1
dfexcel.head()

      name  class      sport
0    Sunil      5     soccer
1    Kumar      3         TT
2    Kayra      2       swim
3  Dehansh      4  Taekwando

In [ ]:
# Pickling
# all pandas objects are equipped with to_pickle methods which use Python's cpickle module to save data structures to  disk
# using the pickle format

In [60]:
dfexcel.to_pickle('df_excel')   # converting excel file to pickle. It saves all the work you do into data structure. You
                                # you can view the saved file in the notebook.

In [63]:
df = pd.read_pickle('df_excel') # tip: if you have large data set you can convert that into pickle. If your kernel gets
                                # restarted then you will have to execute all the instruction again. so to avoid this you can
                                # convert the data set to pickle

In [64]:
df.head()

      name  class      sport
0    Sunil      5     soccer
1    Kumar      3         TT
2    Kayra      2       swim
3  Dehansh      4  Taekwando